body{
  font-size:12px !important;
  font-family: 'Montserrat', sans-serif;
}
.carousel-caption{
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .5);
}

@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.clear{
  clear:all;
  clear:both;
}
.space {
  height:30px;
}
.slide_2{
  width:2560px;
  height:1140px;
  max-height:350px;
  max-width:100%;
  background-size:cover;
  background-image:url(images/header.png);
  background-position: center;
}
.no_border{
  border-radius: 0px !important;
}
.nav-pills > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.navbar-inverse{
  background-color:#192024;
}
ul.nav a:active{
  background-color:#192024;
  color:#fff;
}
ul.nav a:focus{
  background-color:#192024;
  color:#fff;
}
ul.nav a:hover {
  color: #fff;
  background-color:#111619;
}
.navbar ul{
  margin-left: -15px;
}
.slidar_1{
  width:100%;
  height:250px;
  background-size:cover;
  background-image:url(images/slider-1.png);
  background-position: center;
}
.slidar_2{
  width:100%;
  height:250px;
  background-size:cover;
  background-image:url(images/slider-2.png);
  background-position: center;
}
.slidar_3{
  width:100%;
  height:250px;
  background-size:cover;
  background-image:url(images/slider-3.png);
  background-position: center;
}
footer{
  color:#fff !important;
  min-height:70px;
  background-color:#111619 !important;
  height:auto;
  padding-top:15px;
}
.carousel {
  -webkit-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.75);
}
.panel-default{
  color:#fff !important;
  background-color:#111619 !important;
}
.news_img {
  width:100%;
  height:70px;
  background-size: cover;
  border:0;
  text-align: center;
  line-height:70px;
}
.news_title{
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .5);
  padding:10px 50px;
}
.panel-default .panel-body{
  background-color:#171e22 !important;
}
.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 0px; height: 20px;}

.panel .list-group-item{
  background-color:#0c1012 !important;
  border-radius:0px;
  border:0px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
