<hr />
<footer>
	<div class = "container text-center">
		<script language="javascript" type="text/javascript">
			<!--
			var _hey_lt_w = "", _hey_lt_h = "", _hey_lt_c = "";
			//-->
			</script>
			<script language="javascript1.2" type="text/javascript">
			<!--
			_hey_lt_w = screen.width; _hey_lt_h = screen.height; _hey_lt_c = navigator.appName.indexOf("Microsoft") >= 0 ? screen.colorDepth : screen.pixelDepth;
			//-->
			</script>
			<script language="javascript" type="text/javascript">
			<!--
			document.write("<a target='_blank' href='http://www.hey.lt/details.php?id=EricPortfolio'><img width='88' height='31' border='0' src='http://www.hey.lt/count.php?id=EricPortfolio&width=" + _hey_lt_w + "&height=" + _hey_lt_h + "&color=" + _hey_lt_c + "&referer=" + escape(document.referrer) + "' alt='Hey.lt - Nemokamas lankytojÅ³ skaitliukas'><\/a>");
			//-->
			</script>
			<noscript>
			<a target="_blank" href="http://www.hey.lt/details.php?id=EricPortfolio"><img width="88" height="31" border="0" src="http://www.hey.lt/count.php?id=EricPortfolio" alt="Hey.lt - Nemokamas lankytojÅ³ skaitliukas"></a>
			</noscript><br />
		&copy; 2016 - 2017 Gratis
	</div>
</footer>
  </body>
</html>
