<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="icon" href="assets/favicon.ico">
    <title><?php echo $this->webData["title"]; ?></title>
    <link href="assets/components/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <!-- Define all the JS stuff in the end of file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/components/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="assets/components/js/bootstrap.min.js"></script>
		<!-- Define custom template css file here -->
    <link href="assets/templates/<?php echo $this->webData["template"]; ?>/custom.css" rel="stylesheet">
<body>
<? echo $tpl->headerTop("Gratis Fusion","Open source World Of Warcraft CMS"); ?>
<? echo $m_nav->renderNavigation(); ?>
<div class = "container">
  <? echo $tpl->slider("slidar_1","slidar_2","slidar_3"); ?>
</div>
<div class ="space"></div>
