<div class = "container ">
  <div class = "row">
    <div class = "col-md-8">
      <? $tpl->slider("slidar_1","slidar_2","slidar_3"); ?>
    <br />
      <? $tpl->openPanel("How to connect") ?>
        <h4 class = "text-center">HOW TO CONNECT</h4>

        <br />

        <ul class = "list-unstyled">
          <li>
            <p>1. First of all, you must create an account. The account is used to log into both the game and our website.
            Click <a href = "index.php?p=register">here</a> to open the registration page.</p>
         </li>

          <li>
          <p>2. Install World of Warcraft. You can download it from here: <a href = "#">Windows</a> or <a href = "#">Mac</a>. Make sure to upgrade to
          our current supported patch, which is 3.3.5 (build 12340). Patch mirrors can be found here.</p>
          </li>

          <li>
          <p>3. Open up the "World of Warcraft" directory. The default directory is "C:\Program Files\World of Warcraft". When
          you've found it, open up the directory called "data", then go into the directory called either enUS or enGB, depending
          on your client language.</p>
          </li>

          <li>
          <p>4. Open up the file called "realmlist.wtf" with a text editor such as Notepad. To do this, you must right click on the
          file and choose properties, then select notepad as the default software for files with the ".wtf" ending. You may also just
          start the text editor and drag the file into the edit window.</p>
          </li>

          <li>
            5. Erase all text and change it to:
            <ul class = "list-group">
              <li class = "list-group-item">set realmlist <? echo $this->webData["realmlist"]; ?></li>
            </ul>
          </li>

          <li>You may now start playing! If you need any help, do not hesitate to create a support ticket.</li>
        </ul>
      <? $tpl->closePanel(); ?>
    </div>
    <div class = "col-md-4">
      <? $tpl->openPanel("Server Info"); ?>
        <? $m_serverStatus->renderRealm("3"); ?>
      <?php $tpl->closePanel(); ?>
      <? $tpl->openPanel("Custom Panel # 1"); ?>
        <p>Custom panel # 1 content huehue</p>
      <?php $tpl->closePanel(); ?>
      <? if(isset($_SESSION['user'])): ?>
      <? $tpl->openPanel(strtolower($m_ucp->getUserAccountData("username"))); ?>
      <? $tpl->ucpSideMenu($m_ucp->getUserAccountData("username"),$m_ucp->getUserAccountData("vote_points"),$m_ucp->getUserAccountData("donate_points")); ?>
        <?php $tpl->closePanel(); ?>
      <? endif; ?>
    </div>
  </div>
</div>
<div class = "clear"></div>
