<div class = "container ">
  <div class = "row">
    <div class = "col-md-8">
        <? $tpl->openPanel("News & Announcements"); ?>
        <? $m_news->renderNews(); ?>
        <? $tpl->closePanel(); ?>
    </div>
    <div class = "col-md-4">
      <? $tpl->openPanel("Server Info"); ?>
        <? $m_serverStatus->renderRealm("3"); ?>
      <?php $tpl->closePanel(); ?>
      <? $tpl->openPanel("Custom Panel # 1"); ?>
        <p>Custom panel # 1 content huehue</p>
      <?php $tpl->closePanel(); ?>
      <? if(isset($_SESSION['user'])): ?>
        <? $tpl->openPanel(strtolower($m_ucp->getUserAccountData("username"))); ?>
        <? $tpl->ucpSideMenu($m_ucp->getUserAccountData("username"),$m_ucp->getUserAccountData("vote_points"),$m_ucp->getUserAccountData("donate_points")); ?>
        <?php $tpl->closePanel(); ?>
      <? endif; ?>
    </div>
  </div>
</div>
<div class = "clear"></div>
