<div class = "container ">
  <div class = "row">
    <div class = "col-md-8">
      <? if(!isset($_SESSION['user'])) :?>
        <? $tpl->openPanel("Login");?>
        <? if(isset($_POST['submit'])) : ?>
        <? $data = array("username" => $_POST['username'],"password" => $_POST['password']);?>
        <? $m_login->trigerSubmit($data);?>
        <div class="alert alert-warning" id= "result" role="alert"><? echo $m_login->result; ?></div>
        <? endif; ?>
            <form method="post" id="reg-form" autocomplete="off">
              <div class="form-group">
                <label for="username"><span class="text-danger">* </span> Username:</label>
                <input type="text" class="form-control" value = "<? echo @$_POST['username']; ?>" placeholder = "Username" name = "username" id="name" required/>
              </div>
              <div class="form-group">
                <label for="password"><span class="text-danger"> * </span> Password:</label>
                <input type="password" class="form-control" placeholder = "*************" name = "password" id="pwd" required/>
              </div>
            <button type="submit" name = "submit" class="btn btn-success btn-md btn-block">Submit</button>
            <br />
            </form>
        <? $tpl->closePanel(); ?>
      <? else: ?>
      <div class = "container ">
        <div class = "row">
          <div class = "col-md-8">
            <div class="alert alert-danger" id= "result" role="alert">You already logged in</div>
          </div>
        </div>
      </div>
      <? endif; ?>
    </div>
    <div class = "col-md-4">
      <? $tpl->openPanel("Server Info"); ?>
        <? $m_serverStatus->renderRealm("3"); ?>
      <?php $tpl->closePanel(); ?>
      <? $tpl->openPanel("Custom Panel # 1"); ?>
        <p>Custom panel # 1 content huehue</p>
      <?php $tpl->closePanel(); ?>
      <? if(isset($_SESSION['user'])): ?>
      <? $tpl->openPanel(strtolower($m_ucp->getUserAccountData("username"))); ?>
      <? $tpl->ucpSideMenu($m_ucp->getUserAccountData("username"),$m_ucp->getUserAccountData("vote_points"),$m_ucp->getUserAccountData("donate_points")); ?>
        <?php $tpl->closePanel(); ?>
      <? endif; ?>
    </div>
  </div>
</div>
<div class = "clear"></div>
