<? if(!isset($_SESSION['user'])) :?>
  <div class = "container">
    <div class="alert alert-danger" id= "result" role="alert">You need to <a href = "index.php?p=login">login</a> to visit this page</div>
  </div>
<? else: ?>
<div class = "container ">
  <div class = "row">
    <div class = "col-md-8">
    <? $tpl->openPanel("Account Panel"); ?>
    <? $tpl->ucpMenu(); ?>
    <? if(!isset($_GET['sub'])):?>
       <h4 class = "text-center">ACCOUNT SUMMARY</h4>
       <p>Logged in as : <? echo strtolower($m_ucp->getUserAccountData("username")); ?></p>
       <p>Email address: <? echo $m_ucp->getUserAccountData("email"); ?></p>
       <p>Vote Points: <? echo $m_ucp->getUserAccountData("vote_points"); ?></p>
       <p>Donation Points: <? echo $m_ucp->getUserAccountData("donate_points"); ?></p>
       <p>Join date: <? echo $m_ucp->getUserAccountData("joindate"); ?></p>
       <p>Last seen online : <? echo $m_ucp->convertlastSeenToDays($m_ucp->getUserAccountData("last_login")); ?></p>
       <hr />
       <a href = "index.php?p=ucp&action=logout" class = "text-danger">Logout</a>
     <? else : ?>
         <?
         switch($_GET['sub']){
           case "donate" :
             echo '<h4 class = "text-center">DONATE</h4>';
             $m_ucp->renderDonatePage();
           break;
           case "vote" :
             echo '<h4 class = "text-center">VOTE</h4>';
             $m_ucp->renderVotePage();
           break;
           case "store" :
             echo '<h4 class = "text-center">STORE</h4>';
             $m_ucp->renderStorePage();
           break;
           case "services" :
             echo '<h4 class = "text-center">SERVICES</h4>';
             $m_ucp->renderServicesForm();
           break;
           case "security" :
             echo '<h4 class = "text-center">SECURITY</h4>';
           break;
           case "settings" :
             echo '<h4 class = "text-center">SETTINGS</h4>';
           break;
           default:
           break;
         }
         ?>
     <? endif; ?>
    <? $tpl->closePanel(); ?>
    </div>
    <div class = "col-md-4">
      <? $tpl->openPanel("Server Info"); ?>
        <? $m_serverStatus->renderRealm("3"); ?>
      <?php $tpl->closePanel(); ?>
      <? $tpl->openPanel("Custom Panel # 1"); ?>
        <p>Custom panel # 1 content huehue</p>
      <?php $tpl->closePanel(); ?>
      <? if(isset($_SESSION['user'])): ?>
        <? $tpl->openPanel(strtolower($m_ucp->getUserAccountData("username"))); ?>
        <? $tpl->ucpSideMenu($m_ucp->getUserAccountData("username"),$m_ucp->getUserAccountData("vote_points"),$m_ucp->getUserAccountData("donate_points")); ?>
        <?php $tpl->closePanel(); ?>
      <? endif; ?>
    </div>
  </div>
</div>
<div class = "clear"></div>


<?
if(isset($_GET['action'])) {
  if($_GET['action'] == "logout"){
    session_destroy();
    header("location: index.php");
    exit();
  }
}
endif;
?>
