<? $votePageID = $m_vote->cleanData($_GET['page']); ?>
<? $voteData = $m_vote->renderVoteData($votePageID); // lets render vote info ?>
<? if(isset($_SESSION['user'])) : ?>
<div class = "container ">
  <div class = "row">
    <div class = "col-md-8">
        <? $tpl->openPanel("Vote page"); ?>
          <p><? echo "Vote for page : ".$voteData["title"];?></p>
          <p><? echo "Reward : ".$voteData["points"];?> Vote points</p>
          <? if(!$m_vote->renderVoteStatus($_SESSION['user'],$votePageID)): ?>
          <p><? echo "<a href = '".$voteData['vote_url']."'>+ Confirm vote by clicking here.</a>";?>
          <? $m_vote->renderVoteSubmit($_SESSION['user'],$votePageID); ?>
          <? else : ?>
          <p><? echo "You already voted for this website.";?></p>
          <? endif; ?>
        <? $tpl->closePanel(); ?>
    </div>
    <div class = "col-md-4">
      <? $tpl->openPanel("Server Info"); ?>
        <? $m_serverStatus->renderRealm("3"); ?>
      <?php $tpl->closePanel(); ?>
      <? $tpl->openPanel("Custom Panel # 1"); ?>
        <p>Custom panel # 1 content huehue</p>
      <?php $tpl->closePanel(); ?>
      <? if(isset($_SESSION['user'])): ?>
        <? $tpl->openPanel(strtolower($m_ucp->getUserAccountData("username"))); ?>
        <? $tpl->ucpSideMenu($m_ucp->getUserAccountData("username"),$m_ucp->getUserAccountData("vote_points"),$m_ucp->getUserAccountData("donate_points")); ?>
        <?php $tpl->closePanel(); ?>
      <? endif; ?>
    </div>
  </div>
</div>
<div class = "clear"></div>
<? else: ?>
<? header("location: index.php"); ?>
<? endif; ?>
